{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>

    <div class=" container bg-light shadow-md p-5 form-layout mt-5">

    <h3 style="text-align: center;"><Strong>Login to your Account</Strong></h3>

    <form method="POST">
    {% csrf_token %}

    {{form|crispy}}

    <br>

    <button type="submit" class="btn btn-primary w-100 btn-block p-2">Login &nbsp;<i class="fa fa-key" aria-hidden="true"></i></button>
    </form>

    <br>
    <div class="text-center">

    <p>Dont have an account?</p><a href="{% url 'register' %}">Register</a></a>

    </div>


    </div>

    <br>
</body>


{% endblock %}
